body {
  margin: auto; }

* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif; }

#root {
  padding-left: 20px;
  padding-right: 20px; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

input {
  max-width: 400px;
  height: 32px;
  border-radius: 6px;
  border: solid 1px black; }

button {
  padding: 8px;
  margin-bottom: 20px; }

input,
.tab,
.tab_wrapper {
  width: 100%; }

button,
.tab {
  cursor: pointer; }

.error_message_container,
button,
.tab {
  font-weight: 700; }

.detail {
  max-width: max-content;
  margin: 0; }

.error_message_container {
  color: red;
  font-size: 18px;
  word-wrap: break-word; }

.tab_wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 408px; }

.tab {
  padding: 16px;
  color: black; }

.active {
  background-color: lightblue; }

.not_active {
  background-color: lightgrey; }

@media (min-width: 375px) {
  #root {
    padding-left: 40px;
    padding-right: 40px; }
  input {
    height: 50px;
    border: solid 2px black; }
  button {
    padding: 17px; }
  .tab_wrapper {
    flex-wrap: nowrap; } }

@media (min-width: 650px) {
  .error_message_container {
    font-size: 28px; } }

.balance_search_container .input_wrapper,
.balance_search_container {
  display: flex;
  flex-direction: column; }

.balance_search_container {
  gap: 20px;
  justify-content: space-between; }

.balance_search_container .transaction_button {
  max-width: max-content; }

.balance_search_container .input_wrapper {
  overflow-wrap: anywhere; }

.bold_text {
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
  margin-left: 0; }

@keyframes spinner {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

#spinner {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  min-width: 40px;
  min-height: 40px;
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-right: 5px solid lightblue;
  border-radius: 50%;
  animation: spinner 1s linear infinite; }

.transaction_crawler {
  gap: 20px;
  justify-content: space-between; }

.transaction_crawler > .transaction_button {
  max-width: max-content; }

.transaction_crawler,
.transaction_crawler > .input_wrapper,
.row {
  flex-direction: column; }

.transaction_crawler,
.transaction_crawler > .input_wrapper,
.row,
.price_wrapper {
  display: flex; }

.result_info {
  margin-top: '20px';
  margin-bottom: '20px';
  overflow-wrap: break-word; }

.row {
  gap: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  background-color: #e7eaf3; }

.link_wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 233px; }

.price_wrapper {
  width: 100%;
  padding: 0 10px 0 10px; }

.transaction_origin {
  width: 100%;
  max-width: max-content;
  margin-right: auto;
  padding: 0 10px 0 10px; }

.pagination_wrapper {
  gap: 10px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px; }

.transaction_icon {
  background-color: dodgerblue;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 40px; }

.pagination_button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px; }

.block_hash_wrapper {
  min-width: '530px';
  padding: 0 10px 0 10px; }

@media (min-width: 600px) {
  .row {
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 0; }
  .price_wrapper {
    max-width: max-content;
    margin-left: auto;
    padding: 0; }
  .transaction_origin,
  .block_hash_wrapper {
    padding: 0;
    max-width: 30%; } }

@media (min-width: 900px) {
  .transaction_origin,
  .block_hash_wrapper {
    max-width: 100%; } }
