body {
  margin: auto;
}

* {
  font-family: 'Roboto', Sans-Serif;
}

#root {
  padding-left: 20px;
  padding-right: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  width: 100%;
  max-width: 400px;
  height: 32px;
  border-radius: 6px;
  border: solid 1px black;
}

button {
  padding: 8px;
  cursor: pointer;
  font-weight: 700;
  margin-bottom: 20px;
}

.detail {
  max-width: max-content;
  margin: 0;
}

.error_message_container {
  color: red;
  font-weight: 700;
  font-size: 18px;
  word-wrap: break-word;
}

.tab_wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 408px;
}

.tab {
  width: 100%;
  cursor: pointer;
  padding: 16px;
  color: black;
  font-weight: 700;
}

.active {
  background-color: lightblue;
}

.not_active {
  background-color: lightgrey;
}

@media (min-width: 375px) {
  #root {
    padding-left: 40px;
    padding-right: 40px;
  }

  input {
    height: 50px;
    border: solid 2px black;
  }

  button {
    padding: 17px;
  }
  .tab_wrapper {
    flex-wrap: nowrap;
  }
}

@media (min-width: 650px) {
  .error_message_container {
    font-size: 28px;
  }
}
