.transaction_crawler {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
}

.transaction_crawler > .transaction_button {
  max-width: max-content;
}

.transaction_crawler > .input_wrapper {
  display: flex;
  flex-direction: column;
}

.result_info {
  margin-top: '20px';
  margin-bottom: '20px';
  overflow-wrap: break-word;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  background-color: #e7eaf3;
}

.link_wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 233px;
}
.price_wrapper {
  width: 100%;
  padding: 0 10px 0 10px;
}

.transaction_origin {
  width: 100%;
  max-width: max-content;
  margin-right: auto;
  padding: 0 10px 0 10px;
}

.pagination_wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.transaction_icon {
  background-color: dodgerblue;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 40px;
}

.pagination_button {
  padding: 10px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 6px;
}
.block_hash_wrapper {
  min-width: '530px';
  padding: 0 10px 0 10px;
}
@media (min-width: 600px) {
  .row {
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 0;
  }
  .price_wrapper {
    max-width: max-content;
    margin-left: auto;
    padding: 0;
  }
  .transaction_origin {
    padding: 0;
    max-width: 30%;
  }
  .block_hash_wrapper {
    padding: 0;
    max-width: 30%;
  }
}

@media (min-width: 900px) {
  .transaction_origin {
    max-width: 100%;
  }
  .block_hash_wrapper {
    max-width: 100%;
  }
}
